<!--<section class="comment-area">
  <div class="comment-wrapper">
    {% if site.discus-identifier %}
    <div id="disqus_thread" class="article-comments"></div>
    <script>
      (function() {
          var d = document, s = d.createElement('script');
          s.src = '//{{ site.discus-identifier }}.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {% endif %}
  </div>
</section>  End Comment Area -->
<div id="gitmentContainer"></div>
<script src="https://cdn.jsdelivr.net/gh/theme-next/theme-next-gitment@1/gitment.browser.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/theme-next/theme-next-gitment@1/default.css"/>
<script>
var gitment = new Gitment({
    owner: 'guoyang1996',
    repo: 'guoyang1996.github.io',
    oauth: {
        client_id: '79830d9a8fea7cc6b3d2',
        client_secret: 'b855ad84a2128eb71d872e8c7c706b2eec85e884',
    },
});
gitment.render('gitmentContainer');
</script>