	{% if page.layout == 'amp' %}
		<p>越努力，越幸运</p>
	{% else %}
		<script type='text/javascript'>
			fortune = new Array(9);
			fortune[0] = '最是人间留不住，朱颜辞镜花辞树.';
			fortune[1] = '众里寻他千百度，蓦然回首，那人却在灯火阑珊处';
			fortune[2] = '可怜无定河边骨，犹是春闺梦里人';
			fortune[3] = '似此星辰非昨夜，为谁风露立中宵';
			fortune[4] = '醉后不知天在水，满船清梦压星河';
			fortune[5] = '+1s +1s +1s +1s +1s +1s +1s +1s';
			fortune[6] = '沾衣欲湿杏花雨，吹面不寒杨柳风';
			fortune[7] = '你也配姓肖？你怎麼會姓肖！——你哪里配姓肖！';
			fortune[8] = '你才是法師！你全家都是法師！';
			index = Math.floor(Math.random() * fortune.length);
			document.write(fortune[index]);
		</script>
		<noscript>天道酬勤，功不唐捐</noscript>
	{% endif %}
